#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
  column-gap: 10px;
  row-gap: 10px;
}
.card {
  border-radius: 10px;
  height: 50vh;
  border: 3px solid lightblue;
  text-align: center;
}
h1 {
  font-size: 0.5rem;
  font-family: verdana;
  color: lightslategrey;
}
.odd {
  background-color: tomato;
  color: lightgrey;
}
.even {
  background-color: aqua;
  color: navajowhite;
}

.testButton1 {
  color: green;
}
.testButton2 {
  color: red;
}
