




<!--property binding-->
<input [disabled]="isDisabled" type="text">

<!--class binding-->
<button class="testButton1">test button 1</button>
<button [class]="testTheButton">test button 2</button>
<button [class.testButton2]="buttonColor">test button 3</button>
<button [ngClass]="classObejct">test button 4</button>


<!--Style binding-->
<h1 [style.color]="'yellow'">Angular is awesome 1</h1>
<h1 [style.color]="styleH1Element ? 'blue': 'red'">Angular is awesome 2</h1>
<h1 [style.color]="getColor">Angular is awesome 3</h1>
<h1 [ngStyle]="styleObject">Angular is awesome 4</h1>

<!--event binding-->
<button (click)="sayHello()">greet</button>
<div>{{hello}}</div>

<!-- interpolation, piping and the ngFor structual directive-->
<div>{{ errorVariable }}</div>
<div  id="container">
  <div *ngFor="let person of people">
    <div class="card">
      <h1>{{ person.name | uppercase }}</h1>
      <hr>
      <br>
      <p>{{ person.description }}</p>
      <br>
      <small>{{ person.hireDate | date:"short" }}</small>
    </div>
  </div>
</div>

